#split {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 5fr 2fr;
}

#article img {
    width: 100%;
    object-fit: cover;
}

#article #summary {
    color: var(--dark-color);
    font-size: 1.2rem;
}

#article #time {
    color: var(--link-color);
    margin-block: .3rem;
    text-transform: uppercase;
    font-size: .9rem;
}

#latestArticles h3 {
    font-size: 1rem;
    line-height: 1;
}

#latestArticles img {
    aspect-ratio: 1/1;
}

#heart {
    color: red;
    font-size: 1.5rem;
    height: 25px;
    display: flex;
    align-items: center;
}

#article .authors {
    height: 30px;
    display: flex;
    align-items: center;
    padding-block: 1rem;
}

#authorPhotos {
    position: relative;
}

#authorPhotos div {
    position: absolute;
    top: -15px;
}

#actions {
    display: flex;
    gap: 1rem;
    margin-block: 1rem;
    padding-inline: 0.5rem;
    background-color: var(--border-color);
}

.action {
    display: flex;
    align-items: center;
}

#article .authorPhoto {
    background-color: white;
    border: 1px solid black;
    height: 30px;
    border-radius: 50%;
    width: 30px;
}

#article .authorPhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

figure {
    margin: 0;
}

figcaption {
    font-size: .8125rem;
}

#galery.hidden {
    display: none;
}

#galery {
    z-index: 9999;
    left: 0;
    top: 0;
    position: fixed;
    height: calc(100vh - 10rem);
    width: calc(100vw - 10rem);
    padding: 5rem;
    background-color: rgb(0 0 0 / 80%);
}

#galery .galery_image {
    position: absolute;
    height: calc(100% - 15rem);
    width: calc(100% - 10rem);
    transition: left .2s ease;
    left: calc(var(--position) * 100% + 5rem);
}

#galery img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

img, #galery button {
    cursor: pointer;
}

.galeryInfo.hidden {
    opacity: 0;
}

.galeryInfo {
    position: relative;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: opacity .3s;
    color: white;
    align-items: center;
    box-sizing: border-box;
}

.galeryInfo_content {
    max-width: 45rem;
    background-color: black;
    padding: .5rem 1rem;
    border-radius: 4px;
}

.galeryInfo_content .source {
    color: var(--muted-color);
    padding-left: .5rem;
}

.galeryControls {
    position: absolute;
    bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 10rem);
    margin-top: 1rem;
    color: white;
    gap: 1rem;
    font-size: 1.5rem;
}

.galeryControls button {
    color: white;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    transition: background-color .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
}

.galeryControls button:hover {
    background-color: rgb(0 0 0 / 75%);
}